.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
npm-debug.log
recommendations/.idea/misc.xml
recommendations/.idea/modules.xml
recommendations/.idea/recommendations.iml
recommendations/.idea/workspace.xml
*/.DS_Store
